.App {
  text-align: center;
}

/* App-header: Home */

.App-header-Home {
  background-color: #1f2227;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

