.App {
  text-align: center;
}

/* App-header: page 1 */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* App__2: page 2 */

/* App__3: page 3 */
